.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4.8rem;
  margin-top: 8rem;
  margin-bottom: 8rem;

  &--reversed {
    flex-direction: row-reverse;
    padding-left: 4.8rem;
    padding-right: 0;

    & .info__image {
      border-radius: 329px 0px 0px 329px;
    }
  }

  &__image-wrapper {
    width: 48%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 0px 329px 329px 0px;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    width: 48%;
  }

  &__headline {
    margin-top: 4rem;
    margin-bottom: 3rem;

    &--turquoise {
      color: $turquoise;
    }

    &--orange {
      color: $orange;
    }
  }

  & .btn {
    margin-top: 3rem;
  }
}

// Scroll-triggered slide animations
.slide-from-left {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.animate-in {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-from-right {
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
              transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.15s;

  &.animate-in {
    opacity: 1;
    transform: translateX(0);
  }
}